{% extends "base.html.njk" %}

{% block meta %}
<link rel="stylesheet" href="styles/infopage.css" type="text/css">
{% endblock %}

{% block content %}
<div id="infopagecontent">
    <p>WHY YOU SHOULD CARE CONTENT</p>
    <p>AKA ABOUT PAGE</p>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}