<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Intrusions and Impact</title>
        <link rel="icon" href="images/favicon.ico" type="image/ico">
        <link rel="stylesheet" href="styles/root.css" type="text/css">
        <link rel="stylesheet" href="styles/header.css" type="text/css">
        <link rel="stylesheet" href="styles/footer.css" type="text/css">
        {% block meta %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">

            <!-- HEADER BAR -->
            <header>
                <a id="headertitle" href="/">🔥 Intrusions and Impact</a>
                <a class="headerlink" href="/about">Why should you care?</a>
            </header>

            <!-- MAIN CONTENT -->
            <main>
                {% block content %}
                {% endblock %}
            </main>

            <!-- PADDING (to push the footer down if necessary) -->
            <div id="pad">
            </div>

            <!-- FOOTER -->
            <footer>
                <p>Built by Sam, Shevani, Adam and Hannah - Copyright August 2021</p>
            </footer>

        </div>

        {% block scripts %}
        {% endblock %}
        
    </body>
</html>