{% extends "base.html.njk" %}

{% block content %}
    <div id="playspace">
        <div id="leftcol" class="column">
            <p class="colhead">Defenses available:</p>
            <div class="carddeck scroll-y">
                <div id="card1" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Antivirus</p>
                    <p class="card-image">🛡️</p>
                    <p class="card-cost">£30,000</p>
                </div>
                <div id="card2" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Firewall (Office)</p>
                    <p class="card-image">🔥</p>
                    <p class="card-cost">£30,000</p>
                </div>
                <div id="card3" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Server Upgrade</p>
                    <p class="card-image">🖥</p>
                    <p class="card-cost">£20,000</p>
                </div>
                <div id="card4" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Database Encryption</p>
                    <p class="card-image">🔐</p>
                    <p class="card-cost">£40,000</p>
                </div>
                <div id="card5" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Workstation Upgrade</p>
                    <p class="card-image">🖥️</p>
                    <p class="card-cost">£20,000</p>
                </div>
                <div id="card6" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Network Segmentation</p>
                    <p class="card-image">🔌</p>
                    <p class="card-cost">£30,000</p>
                </div>
                <div id="card7" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Security Training</p>
                    <p class="card-image">📓</p>
                    <p class="card-cost">£25,000</p>
                </div>
                <div id="card8" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">CCTV (Plant)</p>
                    <p class="card-image">📷</p>
                    <p class="card-cost">£50,000</p>
                </div>
                <div id="card9" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Threat Assessment</p>
                    <p class="card-image">🕵</p>
                    <p class="card-cost">£20,000</p>
                </div>
                <div id="card10" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">Asset Audit</p>
                    <p class="card-image">🔍</p>
                    <p class="card-cost">£30,000</p>
                </div>
            </div>
            <div id="leftdrag" class="dragspace droppable" ondrop="drop(event)" ondragover="allowDrop(event)">
                <span class="dragspacetext">Drag cards here</span>
            </div>
        </div>
        <div id="midcol" class="column">
            <div id="unityspace">
                <p>Unity</p>
            </div>
            <p class="colhead">Defenses to play:</p>
            <div id="staging">
                <div class="carddeck scroll-x">
                    <div id="card11" class="card" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                        <p class="card-title">CCTV (Office)</p>
                        <p class="card-image">📸</p>
                        <p class="card-cost">£50,000</p>
                    </div>
                </div>
                <div id="stagedrag" class="dragspace droppable" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <span class="dragspacetext">Drag cards here</span>
                </div>
                <button id="playbutton">
                    <p id="playbuttontext">Play</p>
                    <p id="playbuttoncost">£100,000</p>
                </button>
            </div>
        </div>
        <div id="rightcol" class="column">
            <p class="colhead">Denfenses Played:</p>
            <div class="carddeck scroll-y">
                <div id="card12" class="card">
                    <p class="card-title">Network Monitoring (Plant)</p>
                    <p class="card-image">🖧</p>
                    <p class="card-cost">£30,000</p>
                </div>
                <div id="card13" class="card">
                    <p class="card-title">Network Monitoring (Office)</p>
                    <p class="card-image">🖧</p>
                    <p class="card-cost">£20,000</p>
                </div>
                <div id="card14" class="card">
                    <p class="card-title">Firewall (Plant)</p>
                    <p class="card-image">🔥</p>
                    <p class="card-cost">£30,000</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}