{% extends "base.html.njk" %}

{% block meta%}
<link rel="stylesheet" href="styles/playspace.css" type="text/css">
<link rel="stylesheet" href="styles/card.css" type="text/css">
<link rel="stylesheet" href="styles/modal.css" type="text/css">
<link rel="stylesheet" href="styles/dragdrop.css" type="text/css">
<link rel="stylesheet" href="styles/infoarea.css" type="text/css">
{% endblock %}

{% block content %}
    <div id="playspace">
        <div id="leftcol" class="column">
            <p class="colhead">Defences available:</p>
            <div id="unstageddeck" class="carddeck scroll-y">
                {% for card in defences %}
                <div id="{{ 'card' + card.id }}" class="card" onclick="showmodal({{ card.id }})" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">{{ card.name }}</p>
                    <img src="/images/cards/{{ card.image }}" class="card-image" alt="Image of {{ card.name }}">
                    <p class="card-cost">{{ '£' + card.cost | moneycomma }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="leftdrag" class="dragspace droppable" ondrop="drop(event)" ondragover="allowDrop(event)">
                <span class="dragspacetext">Drag cards here</span>
            </div>
        </div>
        <div id="midcol" class="column">
            <div id="unityspace">
                <p>Unity</p>
            </div>
            <p class="colhead">Defences to play:</p>
            <div id="staging">
                <div id="stageddeck" class="carddeck scroll-x">
                </div>
                <div id="stagedrag" class="dragspace droppable" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <span class="dragspacetext">Drag cards here</span>
                </div>
                <div id="infoarea">
                    <p class="infotext">Funds remaining:</p>
                    <p id="budget" class="infotext">£100,000</p>
                    <button id="playbutton" onclick="doturn()">
                        <p id="playbuttontext">Play</p>
                    </button>
                </div>
            </div>
        </div>
        <div id="rightcol" class="column">
            <p class="colhead">Defences Played:</p>
            <div id="playeddeck" class="carddeck scroll-y">
            </div>
        </div>
    </div>
    {% for card in defences %}
    <div id="{{ 'card' + card.id + 'modal' }}" class="modal cardmodal">
        <div class="cardmodalcontent">
            <p class="big-card-title">{{ card.name }}</p>
            <img src="/images/cards/{{ card.image }}" class="big-card-image" alt="Large image of {{ card.name }}">
            <p class="big-card-cost">{{ '£' + card.cost | moneycomma }}</p>
            <p class="big-card-shortdesc">{{ card.shortdesc }}</p>
            <p class="big-card-longdesc">{{ card.longdesc }}</p>
            <div class="modallinkspace">
                <a href="{{ card.outlink }}" class="modallink" target="_blank">More info</a>
                <p class="modallink togglestage" onclick="togglestage({{ card.id }})">Play card</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div id="welcomemodal" class="modal infomodal">
        <div class="infomodalcontent">
            <div class="modalheader">
                <p class="info-header-text">Intrusions and Impact</p>
            </div>
            <div class="modalbody">
                <p class="info-body-text"><b>Welcome to Intrusions and Impact!</b></p>
                <p class="info-body-text">Here's where the how to play text and any data collection stuff will go</p>
                <div class="modallinkspace">
                    <a href="/howtoplay" class="modallink" target="_blank">Help!</a>
                    <p class="modallink" onclick="initialise()">Let's Play!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="conseqmodal" class="modal infomodal">
        <div class="infomodalcontent">
            <div class="modalheader">
                <p class="info-header-text">Consequences</p>
            </div>
            <div id="conseqmodalroot" class="modalbody">
            </div>
        </div>
    </div>
    <div id="endgamemodal" class="modal infomodal">
        <div class="infomodalcontent">
            <div class="modalheader">
                <p class="info-header-text">You have reached the end</p>
            </div>
            <div class="modalbody">
                <p class="info-body-text">Game over</p>
                <p class="info-body-text">Well Played here is a custom scoring thing</p>
                <div class="modallinkspace">
                    <a href="/" class="modallink" onclick="return confirm('Are you sure you want to leave the page?\nAll actions will be lost.')">Home</a>
                    <p class="modallink" onclick="closeallmodals()">Review board</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="/scripts/onload.js"></script>
<script src="/scripts/modalcontrol.js"></script>
<script src="/scripts/dragcontrol.js"></script>
<script src="/scripts/cardmover.js"></script>
<script src="/scripts/gamemanager.js"></script>
<script src="/scripts/actionturn.js"></script>
<script src="/scripts/gameutils.js"></script>
{% endblock %}