{% extends "base.html.njk" %}

{% block meta%}
<link rel="stylesheet" href="styles/playspace.css" type="text/css">
<link rel="stylesheet" href="styles/card.css" type="text/css">
<link rel="stylesheet" href="styles/modal.css" type="text/css">
<link rel="stylesheet" href="styles/dragdrop.css" type="text/css">
<link rel="stylesheet" href="styles/playbutton.css" type="text/css">
{% endblock %}

{% block content %}
    <div id="playspace">
        <div id="leftcol" class="column">
            <p class="colhead">Defences available:</p>
            <div id="unstageddeck" class="carddeck scroll-y">
                {% for card in defences %}
                <div id="{{ 'card' + card.id }}" class="card" onclick="showmodal({{ card.id }})" draggable="true" ondragstart="dragStart(event)" ondragend="dragStop(event)">
                    <p class="card-title">{{ card.name }}</p>
                    <p class="card-image">{{ card.image }}</p>
                    <p class="card-cost">{{ '£' + card.cost | moneycomma }}</p>
                </div>
                {% endfor %}
            </div>
            <div id="leftdrag" class="dragspace droppable" ondrop="drop(event)" ondragover="allowDrop(event)">
                <span class="dragspacetext">Drag cards here</span>
            </div>
        </div>
        <div id="midcol" class="column">
            <div id="unityspace">
                <p>Unity</p>
            </div>
            <p class="colhead">Defences to play:</p>
            <div id="staging">
                <div id="stageddeck" class="carddeck scroll-x">
                </div>
                <div id="stagedrag" class="dragspace droppable" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <span class="dragspacetext">Drag cards here</span>
                </div>
                <button id="playbutton">
                    <p id="playbuttontext">Play</p>
                    <p id="playbuttoncost">£100,000</p>
                </button>
            </div>
        </div>
        <div id="rightcol" class="column">
            <p class="colhead">Defences Played:</p>
            <div id="playeddeck" class="carddeck scroll-y">
            </div>
        </div>
    </div>
    {% for card in defences %}
    <div id="{{ 'card' + card.id + 'modal' }}" class="modal cardmodal">
        <div class="cardmodalcontent">
            <span class="closemodal">&times;</span>
            <p class="big-card-title">{{ card.name }}</p>
            <p class="big-card-image">{{ card.image }}</p>
            <p class="big-card-cost">{{ '£' + card.cost | moneycomma }}</p>
            <p class="big-card-shortdesc">{{ card.shortdesc }}</p>
            <p class="big-card-longdesc">{{ card.longdesc }}</p>
            <div class="big-card-links">
                <a href="{{ card.outlink }}" class="modallink" target="_blank">More info</a>
                <p class="modallink togglestage" onclick="togglestage({{ card.id }})">Play card</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
<script src="/scripts/onload.js"></script>
<script src="/scripts/modalcontrol.js"></script>
<script src="/scripts/dragcontrol.js"></script>
<script src="/scripts/cardmover.js"></script>
<script src="/scripts/gamemanager.js"></script>
{% endblock %}