{% extends "base.html.njk" %}

{% block meta %}
<link rel="stylesheet" href="styles/infopage.css" type="text/css">
{% endblock %}

{% block content %}
<div id="infopagecontent">
    <p>HOW TO PLAY CONTENT</p>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}